__pycache__
pythonenv*
.python-version
.coverage
venv
.venv
.DS_Store
.idea*

# Home Assistant configuration
config/*
!config/configuration.yaml

# Hilo configuration
hilo_eventhistory_state.yaml
hilo_state.yaml

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
.env
/python-hilo
